<div class='homepage-center text-center container-fluid'>
  <h1> Welcome to MatchDev </a>
  <h3> A place to meet tomorrows next best developer - today </h3>
</div>

<div class='container home-sign-up'>
  <div class='row'>
    <div class='col-md-6'>
      <div class='well'>
        <h2 class='text-center'>Basic Membership</h2>
        <h4>This membership gives you access to the community of developers</h4>
        <br>
        <%= link_to 'Basic plan', '#', class: 'btn btn-primary btn-lg btn-block' %>
      </div>
    </div>
    <div class='col-md-6'>
      <div class='well'>
        <h2 class='text-center'>Premium Membership</h2>
        <h4>
          This membership is $20/month and gives you access to all Basic features,
          access to contact info, and early access to new features.
        </h4>
        <%= link_to 'Premium plan', '#', class: 'btn btn-warning btn-lg btn-block' %>
      </div>
    </div>
  </div>
</div
